#NavigationBar {
  background-color: rgba(0, 0, 0, 0.243);
  color: white;
}
#Rightnavigation {
  float: right;
}
body {
  background-color: rgb(151, 122, 86);
}
a {
  text-decoration: none;
  color: white;
  font-size: larger;
  font-weight: bold;
}
ul li {
  display: inline-block;
  margin: 10px;
  padding: 10px 15px;
}
ul {
  display: inline-block;
  padding: 10px;
}
.leftPart {
  float: left;
}
div > p {
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  margin: 10px;
}
img {
  width: 75%;
  padding: 34px;
}
