body {
  background-color: #78c8ed95;
  padding: 0;
  margin: 0;
}
#NavigationBar {
  background-color: #ff1e0030;
  color: white;
  width: 100%;
}
#Rightnavigation {
  float: right;
}
a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.866);
  font-size: large;
  font-weight: bold;
}
ul li {
  display: inline-block;
  margin: 10px;
  padding: 10px 15px;
  border: 1px solid #f8c4b4;
  width: 90px;
  border-radius: 20px;
  text-align: center;
  background-color: #137340;
}
ul {
  display: inline-block;
  padding: 8px;
  height: 50px;
}
